{% extends 'base.html.twig' %}

{% block title %}Refactor Home{% endblock %}

{% block body %}
<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
<form method="post">
    

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="header">
        {# <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class=""  alt="header"> #}
        <div class="container">
            <div class="home-header">
                <h1>
                    Sign In    
                </h1>
            </div>
        </div>
    </div>

    <div class="container  panel panel-body">
    {% if error %}
        <div class="alert alert-danger" style="top:0; margin-bottom: 0px; top: 15px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    </div>

    <div class="content container panel panel-body">

        <div class="field">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>   
        </div>

        <div class="field">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
        

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        

        <div class="checkbox remember mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        
        <div class="submit-button">
            <button class="g-recaptcha tn btn-lg btn-warning" 
                type="submit"
                data-sitekey="6Lc6BbEZAAAAACiI12d4emSiFKbBZWbaPCOG_ecn"
                data-callback='onSubmit' 
                data-action='submit'>Sign in</button>
            </button>
        </div>
        
    </div>
</form>

<script>
    function onSubmit(token) {
      $("form").submit();
    }
  </script>
{% endblock %}
