{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
    <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="header">
        {# <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class=""  alt="header"> #}
        <div class="container">
            <div class="home-header">
                <h1>
                    Register      
                </h1>
            </div>
        </div>
    </div>

    <div class="content container panel panel-body">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationForm.name) }}

        <div class="action-button">
            {{ form_row(registrationForm.agreeTerms) }}         
            
            <button type="submit" class="btn btn-warning btn-lg g-recaptcha" data-sitekey="6Lc6BbEZAAAAACiI12d4emSiFKbBZWbaPCOG_ecn" data-callback='onSubmit' data-action='submit'>Register</button>
        </div>

        <a href="/info/privacy" class="col-sm-12 terms" target="_blank">Read terms and conditions.</a>
    {{ form_end(registrationForm) }}
    </div>
    

     <script>
   function onSubmit(token) {
     $("form").submit();
   }
 </script>
{% endblock %}

