{{ form_start(form) }}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <div class="header">
        <img src="{{ absolute_url(asset('images/room.jpg')) }}" class="responsive"  alt="header">
        <div class="container">
            <h1>{{room.Name}}</h1>
            <a href="{{ path('room_new') }}">Create new</a>
            
        </div>
        
    </div>

    <div class="content container panel panel-body">
        <div class="main-information">
            {{ form_row(form.Name) }}
            {{ form_row(form.Width) }}
            {{ form_row(form.Height) }}
            {{ form_row(form.Depth) }}
            <div class="form-image">
                {{ form_row(form.Image) }}
            </div>
            {% if room.Image != null %}
            <div class="form-preview-image">
                <img src="{{ asset(room.Image) }}" alt="" style="height:500px; width:auto;">
            </div>
            {% endif %}
        </div>

        <div class="elements offset-sm-1 col-sm-10">
            <h2>Items</h2>
        </div>

        <div class="elements offset-sm-1 col-sm-10 panel" id="item-list" data-prototype="{{ form_widget(form.Items.vars.prototype)|e('html_attr') }}">
        {% for row in form.Items %}
            <div class="panel panel-warning item">
                <div class="panel-heading">
                    <strong>{{row.vars.value.name}}</strong>
                </div>
                <div class="panel-body">
                {{form_row(row)}}
                </div>
            </div>
        {% endfor %}
        </div>
    
        

    </div>

    
{{ form_end(form) }}