{{ form_start(form) }}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <div class="header">
        {# <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class=""  alt="header"> #}
        <div class="container">
            <div class="home-header">
                <h1>
                    {% if room.Name is not empty %}
                        {{room.Name}}
                    {% else %}
                        New Room
                    {% endif %}           
                </h1>
            </div>
        </div>
    </div>

    <div class="content container panel panel-body">
        <div class="main-information">
            <div class="name">{{ form_row(form.Name) }}</div>
            <div class="">{{ form_row(form.Width) }}</div>
            <div class="">{{ form_row(form.Height) }}</div>
            <div class="">{{ form_row(form.Depth) }}</div>
            <div class="form-image">
                {{ form_row(form.Image) }}
            </div>
            {% if room.Image != null %}
            <div class="form-preview-image">
                <img src="{{ asset(room.Image) }}" alt="" style="height:500px; width:auto;">
            </div>
            {% endif %}
        </div>

        <div class="elements offset-sm-1 col-sm-10 panel edit" id="item-list" data-prototype="{{ form_widget(form.Items.vars.prototype)|e('html_attr') }}">
        <div class="working-with"><i> 
        You can group items by assigning the same name. </br>
        Currently we only support Amazon, Maisons du Monde, Ikea and Leroy Merlin.</i></div>
       
        {% for row in form.Items %}
            <div class="panel edit panel-warning shadow mb-4 item">
                <div class="panel-heading">
                    {{row.vars.value.name}}
                </div>
                <div class="panel-body main-information row">        
                    <div class="col-sm-10">
                        {{form_row(row.Name)}}
                        {{form_row(row.Link)}}
                    </div>
                    <div class="col-sm-2">
                        <img src="{{row.vars.value.image}}" alt="">
                    </div>
                        
                        
                </div>
            </div>
        {% endfor %}
         </div>
         
    </div>
    <style>
        .working-with {
        color: gray;
        padding: 20px;
}   </style>
    
{{ form_end(form) }}