{{ form_start(form) }}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{{ asset('js/ajax-item.js') }}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link  rel="stylesheet" href="{{ asset('css/room_privacity_switch.css') }}">

    <div class="header">
        {# <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class=""  alt="header"> #}
        <div class="container">
            <div class="home-header">
                <h1>
                    <div class="name">{{ form_row(form.Name) }}
      </div>         
                </h1>
            </div>
        </div>
    </div>

    <div class="content container panel panel-body">
        <div class="main-information room-main">
            
            
            <div class="form-image">
                <label for="upload">{{ 'Image'|trans({}, 'room') }}</label>
                <input type="file" name="upload" id="sortpicture" />
            </div>
            {% if room.Image != null %}
            <div class="form-preview-image">
                <div id="display-image" style="background-image: url('{{ asset(room.Image) }}'); background-size: cover; background-position: center; height: 500px;"></div>
            </div>

            <div class="row measures">
                <div class="col-md-4 col-sm-12">{{ form_row(form.Width) }} cm</div>
                <div class="col-md-4 col-sm-12">{{ form_row(form.Height) }} cm</div>
                <div class="col-md-4 col-sm-12">{{ form_row(form.Depth) }} cm</div>
            </div>

            

            <div class="row privacity">
                <div class="col-sm-12">
                <b>{{ 'Change visibility'|trans({}, 'room') }}:  </b>
                </div>
                
                <div class="input-switch">
                    <label for="switchy">{{ 'Public'|trans({}, 'room') }}</label>
                    <input type="checkbox" id="switchy" class="input" 
                    {% if not room.Public %}  
                          checked
                    {% endif %}/>
                    <label for="switchy" class="switch"></label>
                    <label for="switchy">{{ 'Private'|trans({}, 'room') }}</label>
                </div>                
            </div>
            
            
            {% endif %}
        </div>

        <div class="elements offset-sm-1 col-sm-10 panel edit" id="item-list" data-prototype="{{ form_widget(form.Items.vars.prototype)|e('html_attr') }}">
        <div class="working-with"><i> 
        You can group items by assigning the same name. </br>
        Currently we only support Amazon, Maisons du Monde, Ikea and Leroy Merlin.</i></div>
       
        {% for row in form.Items %}
            <div class="panel edit panel-warning shadow mb-4 item">
                <div class="panel-heading">
                    {{row.vars.value.name}}
                </div>
                <div class="panel-body main-information row">        
                    <div class="col-md-10 col-sm-12 row item">
                        <div class="col-sm-12 name">
                            {{form_row(row.Name)}}  
                        </div>
                        <div class="col-sm-12 link">
                            {{form_row(row.Link)}}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <img src="{{row.vars.value.image}}" alt="">
                    </div>
                        
                        
                </div>
            </div>
        {% endfor %}
         </div>
         
    </div>
    <style>
        .working-with {
        color: gray;
        padding: 20px;
}   </style>

<style>
.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}

span.select2-selection.select2-selection--single {

    border: none !important;
    text-decoration: underline solid #fadba4;
    color: gray;
    width: 100%;
}

span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.header .name label {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: gray;
    line-height: initial;
}

span.select2-selection.select2-selection--single {
    display: flex;
    align-items: center;
}

span.select2-selection__arrow {
        background: #fadba4;
    position: sticky !important;
    height: initial !important;
    width: auto !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


</style>

<script>
$('.select2').select2();
$('span.select2-selection__arrow').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="button-btn-icon button-btn-icon-create absolute-center">  <path d="M3 17.25v3.75h3.75l11.06-11.06-3.75-3.75-11.06 11.06zm17.71-10.21c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" fill="#fff"/>     <path d="M0 0h24v24h-24z" fill="none"/>   </svg>');

</script>


<script>
    document.getElementById('switchy').addEventListener('click', function() {
        if ( document.getElementById('switchy').checked ) {
            document.body.classList.add('active');
            var publicRoom = 0;
            
        } else {
            document.body.classList.remove('active');
            var publicRoom = 1;
        }

        $.ajax({
            url:'/room/change-field',
            type: "POST",
            dataType: "json",
            data: {
                "value_change": {
                    "room": {{ room.id }},
                    "value": publicRoom,
                    "field": 'Public',
                }
            },
            async: true,
            success: function (data)
            {
            }
        }); 

    });

    $(".header .name select").change(function(){
        var selectedRoom = $(this).children("option:selected").val();

        console.log($(this).children("option:selected"));
   

        $.ajax({
            url:'/room/change-field',
            type: "POST",
            dataType: "json",
            data: {
                "value_change": {
                    "room": {{ room.id }},
                    "value": selectedRoom,
                    "field": 'Name',
                }
            },
            async: true,
            success: function (data)
            {
            }
        }); 

    });

    </script>

<script>

    $(function() {
        $("input:file").change(function (){
            var file_data = $('#sortpicture').prop('files')[0];   
            console.log(file_data);
            var form_data = new FormData();                  
            form_data.append('file', file_data);
            form_data.append('room', {{ room.id }});
            // or with jQuery
            //var form = $("#myform")[0];
    
            $.ajax({
            url:"/room/upload-image",
            data:
                form_data,
            
            // the formData function is available in almost all new browsers.
            type:"post",
            contentType:false,
            processData:false,
            cache:false,
            dataType:"json", // Change this according to your response from the server.
            error:function(err){
                    console.error(err);
            },
            success:function(data){
                $style = "url('/".concat(data, "')");
                $('#display-image').css("background-image", $style);    

            },
            complete:function(){
                
    
            }
            });
        });
     });
</script>


<script>

        $(".measures input")
          .focusout(function() {
              var value = $(this).val();
              var name = $('label[for="' + $(this).attr('id') + '"]').html();

              $.ajax({
                url:'/room/change-field',
                type: "POST",
                dataType: "json",
                data: {
                    "value_change": {
                        "room": {{ room.id }},
                        "value": value,
                        "field": name,
                    }
                },
                async: true,
                success: function (data)
                {
                }
            }); 

          });
        
</script>
    
{{ form_end(form) }}