{% extends 'base.html.twig' %}

{% block title %} Home Refactor | Rooms{% endblock %}

{% block body %}

<div class="header">
    {# <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class="responsive"  alt="header"> #}
    <div class="container">
        <div class="home-header">
            {% if home %}
                <h1>Home</h1>                            
                    <a href="{% if app.user %}{{ path('user_rooms',{'username': user.username }) }}{% else %} {{path('app_login')}} {% endif %}">My Rooms</a>                
                {% else %}
                <h1>{{ user_name }}</h1>     
                {% if owner %}
                <a href="{{ path('room_new') }}">Add Room</a>
                {% endif %}
            {% endif %}           
        </div>
    </div>
</div>
<div class="content container">
    {% if home %}
     <div class="container row room-filters">
        <div class="wrapper typo">Show 
            <div class="list"><span class="placeholder" style="opacity: 1;">All Room Types</span>
                <ul class="list__ul" style="display: none;">
                    <li><a href="">All Room Types</a></li>
                    <li><a href="">Living Room</a></li>
                    <li><a href="">Bedroom</a></li>
                    <li><a href="">Bathroom</a></li>
                    <li><a href="">Kitchen</a></li>
                    <li><a href="">Dining Room</a></li>
                    <li><a href="">Study</a></li>
                    <li><a href="">Utility Room</a></li>
                    <li><a href="">Garage</a></li>
                    <li><a href="">Garden</a></li>
                    <li><a href="">Balcony</a></li>
                    <li><a href="">Garage</a></li>
                </ul>
            </div>            
        </div>
    </div>
     {% endif %}
    <div class="rooms row">
        {% if rooms %}

        {% include '/room/room-item.html.twig' with {'rooms': rooms, 'home' : home} only %}

        {% else %}
        <div>
            <div class="no-results">
                Start your project creating a Room.
                
                Once you you got it, start adding your items!
                
            </div>
        </div>
        {% endif %}
    </div>
</div>

<style>
    a {
        display: initial;
    }
    .made  a {
        position: relative;
        display: inline-block;
        margin: 15px 25px;
        outline: none;
        color: #79bea0;
        text-decoration: none;
        letter-spacing: 1px;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1em;
    }
    
    .made  a:hover,
    .made  a:focus {
        outline: none;
    }
    
    /* Effect 5: same word slide in and border bottom */
    .cl-effect-6 a {
        margin: 0px 7px;
        padding: 2px 5px;
    }
    
    .cl-effect-6 a::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #79bea0;
        content: '';
        -webkit-transition: top 0.3s;
        -moz-transition: top 0.3s;
        transition: top 0.3s;
    }
    
    .cl-effect-6 a::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 2px;
        background: #79bea0;
        content: '';
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        transition: height 0.3s;
    }
    
    .cl-effect-6 a:hover::before {
        top: 100%;
        opacity: 1;
    }
    
    .cl-effect-6 a:hover::after {
        height: 100%;
    } 
    
    
    
</style>

<script>
    
    var el = {};
    
    $('.placeholder').on('click', function (ev) {
        $('.placeholder').css('opacity', '0');
        $('.list__ul').toggle();
    });
    
    $('.list__ul a').on('click', function (ev) {
        ev.preventDefault();
        var index = $(this).parent().index();
        
        $('.placeholder').text( $(this).text() ).css('opacity', '1');
        
        console.log($('.list__ul').find('li').eq(index).html());
        var room = $('.list__ul').find('li').eq(index).html();
        room = $(room).text();
        
        $('.list__ul').find('li').eq(index).prependTo('.list__ul');
        $('.list__ul').toggle();   
        
        $.ajax({
            method: "POST",
            url: "/room-filter",
            dataType: 'json',
            data: {
                "type": room, //Aquí van las variables que deseas enviar
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $('.rooms').html(data); 
            }
        });
        
    });
    
    
    $('select').on('change', function (e) {
        
        // Set text on placeholder hidden element
        $('.placeholder').text(this.value);
        
        // Animate select width as placeholder
        $(this).animate({width: $('.placeholder').width() + 'px' });
        
    });
    
    
</script>





{% endblock %}

