{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}

<div class="header">
    <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class="responsive"  alt="header">
    <div class="container">
        <div class="home-header">
            <h1>Home</h1>
            <a href="{{ path('room_new') }}">Add Room</a>
        </div>
    </div>
</div>

<div class="content container">
    <div class="rooms row">
        {% for room in rooms %}
        <!-- {{ dump(loop.index) }} -->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <a href="{{ path('room_show', {'id': room.id}) }}">
            <div class="room panel shadow">
                <div class="image" >
                    <div style="background-image: url('{{ asset(room.Image) }}'); background-size: cover;"></div>
                </div>
                <div class="title">
                    <h2>{{ room.Name }}</h2>
                </div>
                <div class="info">
                    <span class="measure"><div><b>Height:</b> {{ room.Height }}</div> </span>
                    <span class="measure"><div><b>Depth:</b> {{ room.Depth }}</div> </span>
                    <span class="measure"><div><b>Width:</b> {{ room.Width }}</div> </span>
                </div>        
            </div>
        </a>
        </div>
        {% else %}
            <div>
                <div class="no-results">
                Start your project creating a Room.

                Once you you got it, start adding your items to it!

                </div>
            </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}
