{% extends 'base.html.twig' %}

{% block title %} Home Refactor | {{ 'Rooms'|trans({}, 'room') }}{% endblock %}

{% block body %}

<div class="header">
    {# <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class="responsive"  alt="header"> #}
    <div class="container">
        <div class="home-header">
            {% if home %}
                <h1>Home</h1>                            
                    <a href="{% if app.user %}{{ path('user_rooms',{'username': user.username }) }}{% else %} {{path('app_login')}} {% endif %}">{{ 'My Rooms'|trans({}, 'room') }} </a>                
                {% else %}
                <h1>{{ user_name }}</h1>     
                {% if owner %}
                <a href="{{ path('room_new') }}">{{ 'Add Room'|trans({}, 'room') }}</a>
                {% endif %}
            {% endif %}           
        </div>
    </div>
</div>
<div class="content container">
    {% if home %}
     <div class="container row room-filters">
        <div class="wrapper typo">{{ 'Show'|trans({}, 'room') }}
            <div class="list"><span class="placeholder" style="opacity: 1;">{{ 'All Room Types'|trans({}, 'room') }}</span>
                <ul class="list__ul shadow" style="display: none;">
                    <li><a class="All Room Types" href="">{{ 'All Room Types'|trans({}, 'room') }}</a></li>
                    <li><a class="Living Room"href="">{{ 'Living Room'|trans({}, 'room') }}</a></li>
                    <li><a class="Bedroom" href="">{{ 'Bedroom'|trans({}, 'room') }}</a></li>
                    <li><a class="Bathroom" href="">{{ 'Bathroom'|trans({}, 'room') }}</a></li>
                    <li><a class="Kitchen" href="">{{ 'Kitchen'|trans({}, 'room') }}</a></li>
                    <li><a class="Receiver" href="">{{ 'Receiver'|trans({}, 'room') }}</a></li>
                    <li><a class="Dining Room" href="">{{ 'Dining Room'|trans({}, 'room') }}</a></li>
                    <li><a class="Dressing Room" href="">{{ 'Dressing Room'|trans({}, 'room') }}</a></li>
                    <li><a class="Study" href="">{{ 'Study'|trans({}, 'room') }}</a></li>
                    <li><a class="Utility Room" href="">{{ 'Utility Room'|trans({}, 'room') }}</a></li>
                    <li><a class="Garden" href="">{{ 'Garden'|trans({}, 'room') }}</a></li>
                    <li><a class="Balcony" href="">{{ 'Balcony'|trans({}, 'room') }}</a></li>
                    <li><a class="Garage" href="">{{ 'Garage'|trans({}, 'room') }}</a></li>
                </ul>
            </div>            
        </div>
    </div>
    {% else %}
        <div class="container row room-filters" >
            <div class="wrapper typo">
                <div class="list" style="display: inline-flex;">
                    <span class="placeholder" style="opacity: 1; border-bottom: none;"><a href="{{ path('home_index') }}">Home</a></span>
                    <span>→</span>
                    <span>{{ user_name }}</span>
                </div>            
                
            </div>
        </div>
     {% endif %}

    {% if bc_items is defined %}
    <div class="row breadcrumb">
        {% include '/breadcrumb.html.twig' with {'items': bc_items} only %}
    </div>
    {% endif %}

    <div class="rooms row">
        {% if rooms %}
            {% if locale is not defined %}
                {% set locale =  app.request.locale %}
            {% endif %}

            {% include '/room/room-item.html.twig' with {'rooms': rooms, 'home' : home, 'locale': locale} only %}

        {% else %}
        <div>
            <div class="no-results">
                Start your project creating a Room.
                
                Once you you got it, start adding your items!
                
            </div>
        </div>
        {% endif %}
    </div>
</div>

<style>
</style>

<script>
    
    var el = {};
    
    $('.placeholder').on('click', function (ev) {
        $('.placeholder').css('opacity', '0');
        $('.list__ul').toggle();
    });
    
    $('.list__ul a').on('click', function (ev) {
        ev.preventDefault();
        var index = $(this).parent().index();
        
        $('.placeholder').text( $(this).text() ).css('opacity', '1');
        
        var room = $('.list__ul').find('li').eq(index).html();
        room = $(room).attr('class');
        
        $('.list__ul').find('li').eq(index).prependTo('.list__ul');
        $('.list__ul').toggle();   
        
        $.ajax({
            method: "POST",
            url: "/room-filter",
            dataType: 'json',
            data: {
                "type": room, 
                "locale": "{{ app.request.getLocale() }}",
            },
            async: true,
            success: function (data)
            {
                $('.rooms').html(data); 
            }
        });
        
    });
    
    
    $('select').on('change', function (e) {
        
        // Set text on placeholder hidden element
        $('.placeholder').text(this.value);
        
        
        // Animate select width as placeholder
        $(this).animate({width: $('.placeholder').width() + 'px' });
        
    });
    
    
</script>

<style>
.list * {
    padding-right: 5px;
    color: gray;
}
.room-filters .list a:hover {
    color: #8e8e8e;
}

.room-filters .typo, .room-filters .list a, .room-filters .list span {
    font-size: 1.2rem;
}

@media (max-width: 767px){
    .room-filters .typo, .room-filters .list a, .room-filters .list span {
        font-size: 0.9rem;
        width: max-content;
    }
}

</style>



{% endblock %}

