{% extends 'base.html.twig' %}

{% block title %} Home Refactor | Rooms{% endblock %}

{% block body %}

<div class="header">
    {# <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class="responsive"  alt="header"> #}
    <div class="container">
        <div class="home-header">
            {% if home %}
                <h1>Home</h1>                            
                    <a href="{% if app.user %}{{ path('user_rooms',{'username': user.username }) }}{% else %} {{path('app_login')}} {% endif %}">My Rooms</a>                
                {% else %}
                <h1>{{ user_name }}</h1>     
                {% if owner %}
                <a href="{{ path('room_new') }}">Add Room</a>
                {% endif %}
            {% endif %}           
        </div>
    </div>
</div>
<div class="content container">
    {% if home %}
     <div class="container row room-filters">
        <div class="wrapper typo">Show 
            <div class="list"><span class="placeholder" style="opacity: 1;">All Room Types</span>
                <ul class="list__ul shadow" style="display: none;">
                    <li><a href="">All Room Types</a></li>
                    <li><a href="">Living Room</a></li>
                    <li><a href="">Bedroom</a></li>
                    <li><a href="">Bathroom</a></li>
                    <li><a href="">Kitchen</a></li>
                    <li><a href="">Dining Room</a></li>
                    <li><a href="">Study</a></li>
                    <li><a href="">Utility Room</a></li>
                    <li><a href="">Garage</a></li>
                    <li><a href="">Garden</a></li>
                    <li><a href="">Balcony</a></li>
                    <li><a href="">Garage</a></li>
                </ul>
            </div>            
        </div>
    </div>
     {% endif %}

    {% if bc_items is defined %}
    <div class="row breadcrumb">
        {% include '/breadcrumb.html.twig' with {'items': bc_items} only %}
    </div>
    {% endif %}

    <div class="rooms row">
        {% if rooms %}

        {% include '/room/room-item.html.twig' with {'rooms': rooms, 'home' : home} only %}

        {% else %}
        <div>
            <div class="no-results">
                Start your project creating a Room.
                
                Once you you got it, start adding your items!
                
            </div>
        </div>
        {% endif %}
    </div>
</div>

<style>
</style>

<script>
    
    var el = {};
    
    $('.placeholder').on('click', function (ev) {
        $('.placeholder').css('opacity', '0');
        $('.list__ul').toggle();
    });
    
    $('.list__ul a').on('click', function (ev) {
        ev.preventDefault();
        var index = $(this).parent().index();
        
        $('.placeholder').text( $(this).text() ).css('opacity', '1');
        
        var room = $('.list__ul').find('li').eq(index).html();
        room = $(room).text();
        
        $('.list__ul').find('li').eq(index).prependTo('.list__ul');
        $('.list__ul').toggle();   
        
        $.ajax({
            method: "POST",
            url: "/room-filter",
            dataType: 'json',
            data: {
                "type": room, 
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $('.rooms').html(data); 
            }
        });
        
    });
    
    
    $('select').on('change', function (e) {
        
        // Set text on placeholder hidden element
        $('.placeholder').text(this.value);
        
        // Animate select width as placeholder
        $(this).animate({width: $('.placeholder').width() + 'px' });
        
    });
    
    
</script>





{% endblock %}

