{% extends 'base.html.twig' %}

{% block title %} Home Refactor | Rooms{% endblock %}

{% block body %}

<div class="header">
    {# <img src="{{ absolute_url(asset('images/roof.jpg')) }}" class="responsive"  alt="header"> #}
    <div class="container">
        <div class="home-header">
            {% if home %}
            <h1>Home</h1>            
            <a href="{{ path('room_index') }}">My Rooms</a>
            {% else %}
            <h1>{{ user_name }}</h1>     
            <a href="{{ path('room_new') }}">Add Room</a>
            {% endif %}           
        </div>
    </div>
</div>
<div class="content container">
 
    <div class="container row room-filters">

        <div class="select_mate" data-mate-select="active" >
            <select name="" onchange="" onclick="return false;" id="room_type">
                <option value="All">Show all Room Types </option>
                <option value="Living Room">Living Room</option>
                <option value="Bedroom">Bedroom</option>
                <option value="Bathroom">Bathroom</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Dining Room">Dining Room</option>
                <option value="Study">Study</option>
                <option value="Guest Room">Guest Room</option>
                <option value="Utility Room">Utility Room</option>
                <option value="Garden">Garden</option>
                <option value="Balcony">Balcony</option>
                <option value="Garage">Garage</option>
            </select>
            <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg></span>
            <div class="cont_list_select_mate">
                <ul class="cont_select_int">  </ul> 
            </div>
        </div>

	</div>

    <div class="rooms row">
        {% for room in rooms %}
        <div class="col-sm-12 col-md-12 col-lg-6">          

                <div class="room panel shadow">
                    <a href="{{ path('room_show', {'id': room.id}) }}">
                    <div class="image" >
                        <div style="background-image: url('{{ asset(room.Image) }}'); background-size: cover; background-position: center;"></div>
                    </div>

                    <div class="title">
                        <h2>{{ room.Name }}</h2>
                    </div>                    
                    
                    <div class="info">
                        {% if room.Height %}
                        <span class="measure"><div><b>Height:</b> {{ room.Height }}</div> </span>
                        {% endif %}
                        {% if room.Depth %}
                        <span class="measure"><div><b>Depth:</b> {{ room.Depth }}</div> </span>
                        {% endif %}
                        {% if room.Width %}
                        <span class="measure"><div><b>Width:</b> {{ room.Width }}</div> </span>
                        {% endif %}
                    </div>                 
                </a>
                    {% if home %}
                    <div class="made cl-effect-6" style="color:gray">
                        <i>Room by <a href="/{{room.userId}}/rooms">{{ room.username }}</a></i>
                    </div>
                    {% endif %}          
                </div>            
        </div>
        {% else %}
        <div>
            <div class="no-results">
                Start your project creating a Room.
                
                Once you you got it, start adding your items!
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    a {
        display: initial;
    }
    .made  a {
        position: relative;
        display: inline-block;
        margin: 15px 25px;
        outline: none;
        color: #79bea0;
        text-decoration: none;
        letter-spacing: 1px;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1em;
    }
    
    .made  a:hover,
    .made  a:focus {
        outline: none;
    }

    /* Effect 5: same word slide in and border bottom */
.cl-effect-6 a {
    margin: 0px 7px;
    padding: 2px 5px;
}

.cl-effect-6 a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #79bea0;
	content: '';
	-webkit-transition: top 0.3s;
	-moz-transition: top 0.3s;
	transition: top 0.3s;
}

.cl-effect-6 a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background: #79bea0;
	content: '';
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cl-effect-6 a:hover::before {
	top: 100%;
	opacity: 1;
}

.cl-effect-6 a:hover::after {
	height: 100%;
} 


.room-filters {
    background-color: transparent;
    margin-bottom: 20px;
}
    
</style>

<script>

window.onload = function(){
  crear_select();
}

function isMobileDevice() {
    return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
};

 
var li = new Array();
function crear_select(){
var div_cont_select = document.querySelectorAll("[data-mate-select='active']");
var select_ = '';
for (var e = 0; e < div_cont_select.length; e++) {
div_cont_select[e].setAttribute('data-indx-select',e);
div_cont_select[e].setAttribute('data-selec-open','false');
var ul_cont = document.querySelectorAll("[data-indx-select='"+e+"'] > .cont_list_select_mate > ul");
 select_ = document.querySelectorAll("[data-indx-select='"+e+"'] >select")[0];
 if (isMobileDevice()) { 
select_.addEventListener('change', function () {
 _select_option(select_.selectedIndex,e);
});
 }
var select_optiones = select_.options;
document.querySelectorAll("[data-indx-select='"+e+"']  > .selecionado_opcion ")[0].setAttribute('data-n-select',e);
document.querySelectorAll("[data-indx-select='"+e+"']  > .icon_select_mate ")[0].setAttribute('data-n-select',e);
for (var i = 0; i < select_optiones.length; i++) {
li[i] = document.createElement('li');
if (select_optiones[i].selected == true || select_.value == select_optiones[i].innerHTML ) {
li[i].className = 'active';
document.querySelector("[data-indx-select='"+e+"']  > .selecionado_opcion ").innerHTML = select_optiones[i].innerHTML;
};
li[i].setAttribute('data-index',i);
li[i].setAttribute('data-selec-index',e);
// funcion click al selecionar 
li[i].addEventListener( 'click', function(){  _select_option(this.getAttribute('data-index'),this.getAttribute('data-selec-index'));
    console.log($(this).text());
    var room = $(this).text();
    $.ajax({
        method: "POST",
        url: "/room-filter",
        dataType: 'json',
        data: {
            "type": room, //Aquí van las variables que deseas enviar
        },
        async: true,
        success: function (data)
        {
            console.log(data);
            $('.rooms').html(data);
        }
    });
 });

li[i].innerHTML = select_optiones[i].innerHTML;
ul_cont[0].appendChild(li[i]);

    }; // Fin For select_optiones
  }; // fin for divs_cont_select
} // Fin Function 



var cont_slc = 0;
function open_select(idx){
var idx1 =  idx.getAttribute('data-n-select');
  var ul_cont_li = document.querySelectorAll("[data-indx-select='"+idx1+"'] .cont_select_int > li");
var hg = 0;
var slect_open = document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].getAttribute('data-selec-open');
var slect_element_open = document.querySelectorAll("[data-indx-select='"+idx1+"'] select")[0];
 if (isMobileDevice()) { 
  if (window.document.createEvent) { // All
  var evt = window.document.createEvent("MouseEvents");
  evt.initMouseEvent("mousedown", false, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
	slect_element_open.dispatchEvent(evt);
} else if (slect_element_open.fireEvent) { // IE
  slect_element_open.fireEvent("onmousedown");
}else {
  slect_element_open.click();
}
}else {

  
  for (var i = 0; i < ul_cont_li.length; i++) {
hg += ul_cont_li[i].offsetHeight;
}; 
 if (slect_open == 'false') {  
 document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].setAttribute('data-selec-open','true');
 document.querySelectorAll("[data-indx-select='"+idx1+"'] > .cont_list_select_mate > ul")[0].style.height = hg+"px";
 document.querySelectorAll("[data-indx-select='"+idx1+"'] > .icon_select_mate")[0].style.transform = 'rotate(180deg)';
}else{
 document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].setAttribute('data-selec-open','false');
 document.querySelectorAll("[data-indx-select='"+idx1+"'] > .icon_select_mate")[0].style.transform = 'rotate(0deg)';
 document.querySelectorAll("[data-indx-select='"+idx1+"'] > .cont_list_select_mate > ul")[0].style.height = "0px";
 }
}

} // fin function open_select

function salir_select(indx){
var select_ = document.querySelectorAll("[data-indx-select='"+indx+"'] > select")[0];
 document.querySelectorAll("[data-indx-select='"+indx+"'] > .cont_list_select_mate > ul")[0].style.height = "0px";
document.querySelector("[data-indx-select='"+indx+"'] > .icon_select_mate").style.transform = 'rotate(0deg)';
 document.querySelectorAll("[data-indx-select='"+indx+"']")[0].setAttribute('data-selec-open','false');
}


function _select_option(indx,selc){
 if (isMobileDevice()) { 
selc = selc -1;
}
    var select_ = document.querySelectorAll("[data-indx-select='"+selc+"'] > select")[0];

  var li_s = document.querySelectorAll("[data-indx-select='"+selc+"'] .cont_select_int > li");
  var p_act = document.querySelectorAll("[data-indx-select='"+selc+"'] > .selecionado_opcion")[0].innerHTML = li_s[indx].innerHTML;
var select_optiones = document.querySelectorAll("[data-indx-select='"+selc+"'] > select > option");
for (var i = 0; i < li_s.length; i++) {
if (li_s[i].className == 'active') {
li_s[i].className = '';
};
li_s[indx].className = 'active';

};
select_optiones[indx].selected = true;
  select_.selectedIndex = indx;
  select_.onchange();
  salir_select(selc); 
}

</script>



<script>



</script>

{% endblock %}

