{% extends 'base.html.twig' %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <div class="header">
        <img src="{{ absolute_url(asset('images/room.jpg')) }}" class="responsive"  alt="header">
        <div class="container">
            <h1>{{room.Name}}</h1>            
        </div>
        
    </div>

    <div class="content container panel panel-body">
        <div class="main-information">
            <div class="row">
                <div class="measure col-sm-1"></div>
                <div class="measure col-sm-2"><b>Width: </b>{{ ( room.Width/100 )|number_format(2, ',', '.') }} m</div>
                <div class="measure col-sm-2"><b>Height: </b>{{ ( room.Height/100 )|number_format(2, ',', '.') }} m</div>
                <div class="measure col-sm-2"><b>Depth: </b>{{ ( room.Depth/100 )|number_format(2, ',', '.') }} m</div>
            </div>
            {% if room.Image != null %}
            <div class="form-preview-image">
                <img src="{{ asset(room.Image) }}" alt="" style="height:500px; width:auto;">
            </div>
            {% endif %}
        </div>

        <div class="elements offset-sm-1 col-sm-10">
            <h2>Items</h2>
        </div>

        
        <div class="elements offset-sm-1 col-sm-10 panel" id="item-list" >
        {% for row in room.Items %}
            <div class="panel panel-warning item">
                <div class="panel-heading">
                    {{(row.Name)}}
                </div>
                <div class="panel-body main-information row">      
                    <a href="{{(row.Link)}}" target="_blank">
                        <div class="image col-sm-3">
                            <img src="{{(row.Image)}}" alt="">
                        </div>  
                        <div class="col-sm-5"></div>                      
                        <div class=" price col-sm-4">
                            {{ (row.Price)|number_format(2, ',', '.') }} €
                        </div>
                    </a>
                </div>

                
                
            </div>
        {% endfor %}
        <a class="btn btn-info" href="/{{room.id}}/edit">Edit</a> 
        <a class="btn btn-warning" href="{{ path('room_index') }}">Back to list</a> 
        </div>
    
        

    </div>

    <style>

        a:focus, a:hover, a {
            color: initial;
            text-decoration: none;
        }

        .price.col-sm-4 {
            display: flex; 
            text-align: center;
            font-size: xx-large;
            justify-content: center;
        }

        .panel-body.main-information.row a {            
            display: flex;
            align-items: center;
            /* justify-content: center; */
        }

        .main-information {
            font-size: x-large;
        }

        .panel-heading {
            font-size: x-large;
        }

        .main-information div {
            padding: 8px;
            color: #6b6464;
        }
    </style>
{% endblock %}
