<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('images/favicon.png')) }}" />

        </meta>
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>                
        <link  rel="stylesheet" href="{{ asset('css/style_sass.css') }}">
        
        <script src="{{ asset('js/ajax-item.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>

    </head>
    <body>
        <div class="user-menu">
            <div class="home">
                <a href="/">
                    <img src="{{ absolute_url(asset('images/favicon.png')) }}" alt="">
                    <span>Home Refactor</span>
                </a>
            </div>
            <div class="account">

                {% if app.user %}
                <a href="/user/profile">
                    Hello!
                </a>
                {% else %}
                <a href="/user/login">
                    Sign In
                </a>
                {% endif %}
                
                
                {% if app.user %}
                    |    <a href="/user/logout">Lougout</a>
                {% else %}
                    |    <a href="/user/register">Register</a>
                {% endif %}
                
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div class="footer">
            © Magalí Boada 2020
        </div>
    </body>
</html>



