<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('images/favicon.png')) }}" />
        <meta property="og:image" content="{{ absolute_url(asset('images/metatag.jpg')) }}">
        <meta name="description" content="Helping with the organisation of home improvements! Keep track of the products your interested in."/>
        <meta name="keywords" content="homerefactor, home, refactor, organising, organize, amazon, maisons, leroy, ikea, items, products, lists"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /></meta>
        <meta name="author" content="Magali Boada" />
        <meta name="copyright" content="Magali Boada" />

        
        <title>{% block title %}Home Refactor{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>                
        <link  rel="stylesheet" href="{{ asset('css/style_sass.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

        <script data-ad-client="ca-pub-3045012368520413" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        
        
        <script src="{{ asset('js/main.js') }}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLVFN1JXS5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VLVFN1JXS5');
        </script>

    </head>
    <body>
        <div class="user-menu">
            <div class="home">
                <a href="/">
                    <img src="{{ absolute_url(asset('images/main-header.png')) }}" alt="">
                </a>
            </div>
            <div class="account row">
                
                {% if app.user %}    

                {% if app.user.id == 1%}

                <a href="/user/admin">Admin</a> |

                {% endif %}

                <a href="/user/profile" class="">
                    Hello {{app.user.name}}!
                </a> 
                {% else %}
                <a href="/user/login" class="">
                    Sign In
                </a>
                {% endif %}
                
                
                {% if app.user %}
                    |    <a href="/user/logout">Logout</a>
                {% else %}
                    |    <a href="/user/register">Register</a>
                {% endif %}
                
            </div>
        </div>
        
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        
        <div class="footer">

          {# <div style="height: 100px;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="ca-pub-3045012368520413"
                 data-ad-slot="8513209484"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div> #}
         
            <div class="info-links">
                <div class="privacy "><a href="/info/privacy">Privacy Policy</a></div>
                <div class="terms "><a href="/info/terms">Terms of service</a></div>
                <div class="contact"><a href="/info/contact">Contact</a></div>
            </div>       
            <div class="copy col-sm-12">© Magalí Boada 2020</div>
        </div>



        <div class="container cookies" style="display: none;">
            <div class="banner-retail" >
              <div class="innerBanner row">
                <span class = "text col-sm-12">  
                  <p><span class="hola">Hello!</span>If you continue to browse, we’ll use cookies that make our site work, improve performance, and customise your experience.</p> 
                      
                </span>
                <div class="buttons">
                  <div class="btn btn-course button-cerrar" href="/">Agree</div>
                  <div class="btn btn-course button-readmore" href="/">Read More</div>
                </div>
              </div>
            </div>
          </div>
      
      
        <style>
        
        
      
      
      </style>
    </body>
</html>


<script>
    initalizeRetailBanner();


$( ".button-cerrar" ).click(function() {
  Cookies.set('popup', 'seen');
  $('.banner-retail').css('display', 'none');
  $('body .home, .main-content').css('opacity', '1');
});

$( ".button-readmore" ).click(function() {
  
  var url = "/info/privacy";    
  $(location).attr('href',url);  
});
  
  function initalizeRetailBanner() {
      let cookie = Cookies.get('popup');

      console.log(cookie);

        if((window.location.pathname != '/info/privacy' && window.location.pathname != '/info/terms') && cookie == null)
            $('.cookies').css('display', 'block');
  }
</script>